
@keyframes slide {
    0% {
        top: -100%; /* начальное положение контейнера за пределами экрана */
    }
    20%, 80% {
        top: 5%; /* положение контейнера во время паузы */
    }
    100% {
        top: -100%; /* конечное положение контейнера за пределами экрана */
    }
}

@keyframes slideReverse {
    0% {
        top: 5%; /* начальное положение контейнера */
    }
    100% {
        top: -100%; /* конечное положение контейнера за пределами экрана */
    }
}

.error {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    background: #e06868;
    z-index: 99;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 10px;
    animation: slide  4s forwards; /* добавляем анимацию */

}

.close {

}

.error h3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
}
.error p {
    color: #e0dbdb;
    font-size: 3vh;
    font-style: italic;
}