@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i');

@keyframes slide {
    0% {
        top: -100%; /* начальное положение контейнера за пределами экрана */
    }

    100% {
        top: 5%; /* положение контейнера во время паузы */
    }
}

@keyframes slideOut {
    0% {
        top: 5%; /* начальное положение контейнера во время паузы */
    }
    100% {
        top: -100%; /* конечное положение контейнера за пределами экрана */
    }
}

.notificationCt {
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Raleway', sans-serif;
    color: white;
    border-radius: 10px;
    padding: .5vw 0;
    position: absolute;
    animation: slide .8s forwards;
}

.close {
    animation: slideOut 1s forwards;
}
.error {
    background-color: #f44336;
    font-weight: 500;
}
.notificationCt svg {
    margin: 1vw;
    font-size: 2vw;
}
.notificationCt h3 {
    font-size: 2.5vh;
    font-weight: bold;
}
.notificationCt p {
    font-size: 2vh;
}
.notificationCt div {
    display: flex;
    flex-direction: column;
}
.notificationCt button {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.success {
    background-color: #4CAF50;
}
.warning {
    background-color: #2196F3;
}