/* imageInput.module.css */

.imageInputLabel {
    position: relative;
    border: 2px solid #925FA4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imageInputLabel .imageInputSVG {
    height: 30%;
    width: 30%;
    color: #925FA4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}

.imageInputLabel img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: 0.3s ease;
}

.imageInputLabel .imageActive {
    opacity: 1;
    visibility: visible;
    z-index: 2;
}

.imageInputLabel input {
    display: none;
}