.changePasswordCt {
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: rgba(29, 11, 35, 0.85);
    backdrop-filter: blur(2px);
    transition: visibility, opacity ease .5s;

}

.changePasswordCt form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border-radius: 50px;
    background: #1C0A22;
    width: 40%;
    height: 35%;
    flex-shrink: 0;
}
.changePasswordCt form h2 {
    color: #FFF;
    text-align: center;
    font-size: 3.5vh;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 48px */
}
.changePasswordCt form span {
    margin-top: 10px;
    color: #6E447B;
    text-align: center;
    font-size: 2vh;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.changePasswordCt form button {
    width: 50%;
    height: 20%;
}
.changePasswordCt form label {
    width: 50%;
    height: 20%;
}
.close {
    opacity: 0;
    visibility: hidden;
}
.changePasswordCt form button {margin-top: 10px}
.changePasswordCt form label {margin-top: 10px}