.main-container .center-form-ct p {
    color:  #6E447B;
    margin: 0;
    font-size: 1vw;
}
.center-form-ct form .main-input-text {
    height: 15%;
}
.center-form-ct form .main-bt {
    height: 15%;
}
.main-container .center-form-ct {
    max-height: 75%;
    overflow: auto;
    height: 75%;
    width: 40%;
}
.main-container .center-form-ct form {
    height: 75%;
}
.main-container .center-form-ct form .date-span {
    display: block;
    padding-bottom: 5px;
    color: #6E447B;
    font-size: .8vw;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    width: 100%;
}