.mainInputLabel {
    height: 3vw;
    padding: 0 1vw;
    display: flex;
    border-radius: 500px;
    background: #42204E no-repeat;
    flex-shrink: 0;
    align-items: center;
}

.mainInputLabel i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    color: #8B5D9A;
    padding: 5px 10px 5px 5px;
}
.mainInputLabel input {
    color: #8B5D9A;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    float: right;
    height: 100%;
    width: 100%;
    font-size: 1vw;
}

.mainInputLabel input::placeholder {
    color: #8B5D9A;
    font-size: 1vw;
    font-weight: 400;
}

.dataTimeInputLabel {
    height: 3vw;
    font-size: 2vh;
    color: #8B5D9A;
    position: relative;
    align-items: center;
    display: flex;
    width: 60%;
}
.dataTimeInputLabel input {
    padding: 10px;
    height: 100%;
    width: calc(30% - 10px);
    border-radius: 500px;
    text-align: center;
    background: #42204E;
    color: #8B5D9A;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.dataTimeInputLabel select {
    padding: 0 10%;
    height: 100%;
    width: 40%;
    margin: 0 10px;
    border-radius: 500px;
    background: #42204E;
    -webkit-appearance: none;
    text-align: left;
    appearance: none;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.dataTimeInputLabel i {
    font-size: 2.5vh;
    position: absolute;
    right: 35%;
    pointer-events: none;
}
.imageInputLabel {
    position: relative;
    border: 2px #925FA4 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.imageInputLabel .imageInputSVG {
    height: 30%;
    width: 30%;
    color: #925FA4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.imageInputLabel img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}
.disActiveSVG {
    display: none;
}
.imageInputLabel .imageActive {
    opacity: 1;
    visibility: visible;
    z-index: 2;
}
.imageInputLabel input {
    display: none;
}
.disActiveLabelB {
    border: none;
}