.mainInputLabel {
    height: 3vw;
    display: flex;
    border-radius: 500px;
    background: #42204E no-repeat;
    flex-shrink: 0;
    align-items: center;
}

.mainInputLabel i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    color: #8B5D9A;
    padding: .8vw;
}
.mainInputLabel input {
    color: #8B5D9A;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    float: right;
    height: 100%;
    width: 100%;
    font-size: 1vw;
}

.mainInputLabel input::placeholder {
    color: #8B5D9A;
    font-size: 1vw;
    font-weight: 400;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    border-radius: 500px;
    -webkit-text-fill-color: #8B5D9A;
    -webkit-box-shadow: 0 0 0 1000px #42204E inset;
    transition: background-color 5000s ease-in-out 0s;
}


.dataTimeInputLabel {
    height: 3vw;
    font-size: 2vh;
    color: #8B5D9A;
    position: relative;
    align-items: center;
    display: flex;
    width: 60%;
}
.dataTimeInputLabel input {
    padding: 10px;
    height: 100%;
    width: calc(30% - 10px);
    border-radius: 500px;
    text-align: center;
    background: #42204E;
    color: #8B5D9A;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.selectInput {
    height: 100%;
    display: flex;
    padding: 0 10%;
    border-radius: 500px;
    background: #42204E;
    -webkit-appearance: none;
    text-align: left;
    appearance: none;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.dataTimeInputLabel div {
    height: 100%;
    width: 40%;
    margin: 0 4%;
    font-size: .9vw;
}
.dataTimeInputLabel div > button {
    margin: 0;
}
.dataTimeInputLabel div > button  {
    font-size: .9vw;
    text-align: left;
    padding-left: 1vw;
}
.dataTimeInputLabel i {
    font-size: 2.5vh;
    position: absolute;
    right: 35%;
    pointer-events: none;
}
.imageInputLabel {
    position: relative;
    border: 2px #925FA4 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.imageInputLabel .imageInputSVG {
    height: 30%;
    width: 30%;
    color: #925FA4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.imageInputLabel img {
    top: 50%;
    left: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}
.disActiveSVG {
    display: none;
}
.imageInputLabel .imageActive {
    opacity: 1;
    visibility: visible;
    z-index: 2;
}
.imageInputLabel input {
    display: none;
}
.disActiveLabelB {
    border: none;
}

.textareaInput {
    min-width: 60%;
    min-height: 20vh;
    position: relative;
    border: 2px transparent solid;
    color: #925FA4;
    padding: 10px;
    width: 60%;
    max-width: 60%;
    height: 30vh;
    border-radius: 30px;
    background: #42204E;
    -webkit-appearance: none;
    text-align: left;
    appearance: none;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    font-size: 1vw;
}
.textareaInput:focus:active {
    border: 2px #925FA4 solid;
}
.textareaInput::placeholder {
    color: #8B5D9A;
    font-size: 1vw;
    font-weight: 400;
}
.select__ct {
    border-radius: 500px;
    background: #42204E;
    position: relative;
    display: flex;
    flex-direction: column;
}
.select__bt {
    color: #8B5D9A;
    pointer-events: auto;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 400px;
    margin: 0;
    z-index: 18;
    font-size: 1vw;
    /*border-top-left-radius: 500px;*/
    /*border-top-right-radius: 500px;*/
}
.select__bt.open:after {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}
.select__bt.open {
    border: 2px solid #925FA4; /* Выберите цвет границы */
    transition: border 0.3s ease;
}
.select__bt.open:after {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}
.not_correct {
    border: red 1px solid;
}
.select__ul__close {
    visibility: hidden;
    opacity: 0;
    z-index: -99;
}

.select__ul {
    border: 2px solid transparent;
    pointer-events: none;
    padding-top: 2vh;
    margin-top: -2vh;
    overflow: auto;
    position: absolute;
    z-index: 19;
    background: #42204E;
    top: 100%;
    width: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: all 0.3s ease;
    border-bottom: 1px #925FA4 solid;
}
.select__ul::-webkit-scrollbar {
    display: none;
}
.select__bt.open + .select__ul {
    border: 2px solid #925FA4; /* Выберите цвет границы */
}
.select__ul li {
    pointer-events: auto;
    cursor: pointer;
    font-size: 10px;
    padding: 1vh;
    text-align: center;
}
.select__ul .active_li {
    color: #1C0A22;
    background-color: #8B5D9A;
}
.select__ul li:not(:last-child):not(.active_li):hover {
    color: #1C0A22;
    background-color: #8B5D9A;
}
.select__ul li:last-child:hover {
    color: #1C0A22;
    background-color: #8B5D9A;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.select__bt:after {
    content: "▼";
    font-size: 1vw;
    position: absolute;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    padding: 0 .8vw;
    text-align: center;
    pointer-events: none;
    box-sizing: border-box;
    height: 100%;
}