.bannersCt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.05),
        rgba(0, 0, 0, 0)
    ); /* Легкий градиент для глубины */
}

/* Стили для изображений */
.bannersCt img {
    height: 100%;
    object-fit: cover; /* Корректное отображение изображений */
    filter: drop-shadow(0 1.25rem 2rem rgba(179, 34, 31, 0.25));
    transition: all 0.4s ease-out; /* Плавные переходы */
    will-change: transform, filter; /* Оптимизация анимаций */
}
